body {
    font-family: Arial, sans-serif;
  }
  .container {
    justify-content: space-between;
  }
  #inventory > table{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header button{
    margin-right: 50px;
    height: 30px;
    width: 100px;
  }

table th{
    padding: 10px;
    background-color: lightskyblue;
}

#customers > table{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

#inventory-form input{
    margin: 20px 10px; 
}

#customer-form input{
    margin: 20px 10px; 
}


.container2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 > label {
  display: block;
  margin-bottom: 8px;
}

.container2 input,textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.container2 button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container2 button:hover {
  background-color: #45a049;
}
